doctype html
html
  head
    title #{title}
    link(rel="stylesheet", href="/show.css")
  body
    h1 Prediction Result
    p The detected emotion is: 
      strong #{emotion}
    a(href="/") Try another image